@font-face {
  font-family: "iconfont"; /* Project id 2011777 */
  src: url('iconfont.woff2?t=1647593448040') format('woff2'),
       url('iconfont.woff?t=1647593448040') format('woff'),
       url('iconfont.ttf?t=1647593448040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconwode:before {
  content: "\e8a0";
}

.iconfenlei:before {
  content: "\e630";
}

.icongouwuche:before {
  content: "\e70b";
}

.iconshouye:before {
  content: "\e610";
}

